[Unit]
Description=swayg daemon for automatic workspace suffix synchronization
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
PIDFile=%h/.local/share/swayg/swaygd.pid
ExecStart=%h/.cargo/bin/swaygd
ExecStopPost=/bin/rm -f %h/.local/share/swayg/swaygd.pid
Restart=on-failure
RestartSec=5
Environment=RUST_LOG=info

[Install]
WantedBy=graphical-session.target
